[user]
    email = u1240976@gmail.com
    name = susu
[core]
    editor = vim
[merge]
    tool = vimdiff
[alias]
    st = status
    co = checkout
    ci = commit
    br = branch

    # show && show log && show shortest
    sh = show
    shl = show -s
    shs = show -s --oneline

    # list tags && list remote tags
    ltag = tag -l
    lrtag = ls-remote --tags

    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold red)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold blue)<%an>%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold red)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold blue)- %an<%ae>%C(reset)' --all
    # lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
    ui = true
	status = false
[http]
	postBuffer = 1048576000
